<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.content.about.heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.content.about.subheading }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {%- for event in site.data.content.about.timeline -%}
                            <li {% cycle '', 'class="timeline-inverted"' %}>
                                <div class="timeline-image">
                                    <a href="{{ event.link }}">
                                        <img class="img-circle img-responsive" src="{{ event.img }}" alt="">
                                    </a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ event.heading | markdownify }}</h4>
                                        <h4 class="subheading">{{ event.subheading | markdownify }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ event.text | markdownify }}</p>
                                    </div>
                                </div>
                            </li>
                        {%- endfor -%}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="#team" class="page-scroll" style="color: white;">Be Part
                                    <br>Of This
                                    <br>Story!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
