.fa.fa-guitar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(0, 0, 0, 0);
}
.fa.fa-classical {
    background-image: url('{{site.baseurl}}img/guitars/classical.png');
}
.fa.fa-acoustic {
    background-image: url('{{site.baseurl}}img/guitars/acoustic1.svg');
}
.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.youtube-container iframe, .youtube-container object, .youtube-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: #333;
}

#services .text-muted ul {
    text-align: left;
}